.vscode
__pycache__/
twibot-20/
twibot-22/
cresci-15/
twibot-20-sample/
BotRGCN/cresci_15/processed_data/
BotRGCN/twibot_20/processed_data/
BotRGCN/twibot_22/preprocessed_data/
code_for_20_sample/
RGT/
MAE.ipynb
Ablation/
BotRGCN/
roberta/
extra_exp/
manipulated_models/
code_for_22/
code_for_cresci_15/
Ablation/
experiments_*.py
experiments_*_*.py
backup/


